.background {
  viewport-fill: black;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

.markercolour {
  fill: white;
}

.maindialfive {
  x: 0%-1;
  y: -48%;
  width: 3;
  height: 10;
}

.maindialminute {
  x: 0%-1;
  y: -48%;
  width: 2;
  height: 2;
}
